<div class="jumbotron">
{{#each courses}}
        <h1>{{name}}</h1>
    </div>
    <form>
    <table class="table table-bordered">
        {{#each sections}}
            <tr>
                <td><h3>{{name}}</h3></td>
            </tr>
            <tr>
                <td><button class="btn btn-info">new</button></td>
            </tr>
                {{#each content}}
                    <td><button class="btn btn-info">new</button></td>
                {{/each}}

        {{/each}}
    </table>
    </form >


{{/each}}
