<nav>
    <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/courses/register">Add Course</a></li>
        <li role="presentation"><a href="/courses/remove">Remove Course</a></li>
        <li role="presentation"><a href="/courses/editContent">Upload Course Content</a></li>
        <li role="presentation"><a href="/courses/arrange">Arrange Course Content</a></li>
    </ul>
</nav>