<h2 class="page-header">Courses</h2>
<div data-role="page" id="document-library">
    <div data-role="content">
        <table class="table table-bordered">
                {{#each courses}}
                    <tr>
                    <td><a href="/courses/{{name}}" data-transition="slide">
                            <strong>{{name}}</strong></a></td>
                    </tr>
                {{/each}}
            </table>
    </div>
</div>