<div class="jumbotron">
    {{#each courses}}
    <h1>{{name}}</h1>
</div>

        {{#each content}}
            <div><a href="file:///{{this}}" download>{{this}}</a></div>
        {{/each}}


    {{/each}}
