{{#each courses}}
<div class="col-xs-6">
<form action="/courses/upload/{{name}}" method="post" encType="multipart/form-data" id='uploadForm'>
    <div class="form-group">
        <label>{{name}}</label>
        <input type="file" name="sampleFile">
        <button class="btn btn-link" name="action" type="submit" value="Upload">Upload</button>
        <button class="btn btn-link" name="action" type="submit" value="Arrange">Arrange</button>
    </div>
</form>
</div>
{{/each}}
