{{#each courses}}
    <form action="/courses/upload" method="post" encType="multipart/form-data" id='uploadForm'>
        <div class="form-group">
            <label>{{name}}</label>
            <input type="file" name="sampleFile">
            <button type="submit" value="upload">Upload</button>
        </div>
    </form>
{{/each}}

