<h2 class="page-header">Home</h2>
<p>Welcome</p>
<td>
    <ul>
        {{#if admin}}
            <li role="presentation"><a href="/courses/register">Create Course</a></li>
            <li role="presentation"><a href="/courses">Courses</a></li>
        {{/if}}
    </ul>
</td>