<h2 class="page-header">Home</h2>
<p>Welcome</p>
<td>
    <table class="table table-bordered">
        {{#each courses}}
            <tr>
                <td><a href="/courses/{{name}}" data-transition="slide">
                    <strong>{{name}}</strong></a></td>
            </tr>
        {{/each}}
    </table>
</td>